{% extends "base.html" %}
{%block content%}
<div class="container">
    <br>
    <div class="row">


        <div class="col-5">
            <form action="{{ url_for('interaction_2_txt')}}" method="post" enctype="multipart/form-data">
                <label for="imgDesc" class="form-label"><Strong>Provide prompt:</Strong></label>
                <input class="form-control" id="imgDesc" type="text" name="imgDesc">
                <br>

                <legend class="col-form-label"><Strong>Select Emotions:</Strong></legend>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio1" value="Surprise" checked>
                    <label class="form-check-label" for="inlineRadio1">Surprise</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio2" value="Anger">
                    <label class="form-check-label" for="inlineRadio2">Anger</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio3" value="Fear">
                    <label class="form-check-label" for="inlineRadio3">Fear</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio4" value="Joy">
                    <label class="form-check-label" for="inlineRadio1">Joy</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio5" value="Love">
                    <label class="form-check-label" for="inlineRadio2">Love</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="storyRadioOptions" id="inlineRadio6" value="Sadness">
                    <label class="form-check-label" for="inlineRadio3">Sadness</label>
                </div>
                <br><br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br><br>
            </form>
            <legend class="col-form-label"><strong>Image Alt Text:</strong></legend>

            <br>
            <p>{%if caption%}{{caption}} {%else%}Write a prompt and click submit{%endif %}</p>
            <br>
            <img src="{% if imgPath %} {{imgPath}} {%endif %}" class="rounded mx-auto d-block img-fluid">
            <br>
        </div>

        <div class="col-1">
            <br>
        </div>
        
        <div class="col-6" >
            <div class="d-flex justify-content-center" id="canvas-div" data-story="{% if imgPath %} {{story}} {% else %}Waiting for generated image...{%endif %}" data-style={{style}}>
            </div>
            <br>
            <div class="row">
                <div class="col-6 text-center" id="startBtnDiv">
                    <!-- <button type="button" class="btn btn-primary" id="startBtn">Start Narrating!</button> -->
                </div>
                <div class="col-6 text-center" id="stopBtnDiv">
                    <!-- <button type="button" class="btn btn-danger" id="stopBtn">Stop Narrating!</button> -->
                </div>
            </div>
            
        </div>   
    </div>
    
</div>
<script src="js/sketch-m2.js"></script>
{%endblock%}