{% extends "base.html" %}
{%block content%}
<div class="container">
    <br>
    <div class="row">
   
        <div class="col-5">
            <form action="{{ url_for('interaction_txt')}}" method="post" enctype="multipart/form-data">
                <label for="imgDesc" class="form-label">Provide prompt:</label>
                <input class="form-control" id="imgDesc" type="text" name="imgDesc">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p>{%if caption%}{{caption}} {%else%}Write a prompt and click submit{%endif %}</p>
            <br>
            <img src="{% if imgPath %} {{imgPath}} {%endif %}" class="rounded mx-auto d-block img-fluid">
            <br>
        </div>

        <div class="col-1">
            <br>
        </div>
        
        <div class="col-6">
            <div class="d-flex justify-content-center" id="canvas-div" data-story="{% if imgPath %} {{story}} {% else %}Waiting for generated image...{%endif %}" >
            </div>
            <br>
            <div class="row">
                <div class="col-6 text-center" id="startBtnDiv">
                    <!-- <button type="button" class="btn btn-primary" id="startBtn">Start Narrating!</button> -->
                </div>
                <div class="col-6 text-center" id="stopBtnDiv">
                    <!-- <button type="button" class="btn btn-danger" id="stopBtn">Stop Narrating!</button> -->
                </div>
            </div>
            
        </div>   
    </div>
    
</div>
<script src="js/sketch-m1.js"></script>
{%endblock%}