{% extends "base.html" %}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Introduction:</h3>
      <p>For Assignment H2 - Milestone 1, I used two large language models (LLMs) to achieve my goals. From Hugging Face, I selected Stability AI's diffusion-based text-to-image generative model to create images, and OpenAI's GPT-4o mini model to generate contextual descriptions of the resulting images.
        When the user enters a text prompt describing the desired image, the generated image is displayed. Simultaneously, the OpenAI model provides a detailed description of the image by dividing it into four quadrants, helping users better visualize its content. Additionally, when the user clicks the "Start Narrating" button, the system provides an audio narration of the description, offering valuable auditory feedback for a more inclusive experience.
        </p>
    </div>
  </div>
</div>
{%endblock%}
